@font-face { font-family: Lexend; 
    src: url('font/Lexend/Lexend.ttf'); } 
h2{
font-family: Lexend;
}

body{
    background-color: black;
}

.product{
    text-align: center;
    margin: 60px;
    width: auto;
    height: 700px;
}

.description{
    background-image: url(background/bg1.jpg);
    background-size: cover;
    /* margin-top: 80px; */
    height: 700px;
    width: auto;
    margin-top: 90px;
    filter: blur(5px);
}

.desc-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.navbar{
    background-color: black;
}

.col-card{
    width: 25%;
    padding: 0 10px;
}

.card{
    position: relative;
    width: auto;
    background-image: linear-gradient(#414c6b, #a5def2);
    flex: 1;
    overflow: hidden;
    border-radius: 10%;
}

.card-img-top{
    width: auto;
    scale: 0.9;
    border-radius: 10%;
}

.navbar-toggler{
    color: white;
}

.offcanvas{
    background-color: black;
}
.offcanvas-title{
    color: white;
}

.navbar-brand{
   font-family: 'Trebuchet MS';
   font-size: 30px;
   color: white;
}

.navbar-brand:hover, .navbar-toggler-icon:hover{
    color: yellow;
}

.nav-link{
    font-family: 'Trebuchet MS';
    color: white;
}

.product-card{
    /* margin-bottom: 100px; */
    padding: 10px;
}

.title-business{
    font-size: 170px;
    font-family: 'Lexend';
    /* padding-top: 160px; */
    color: #a5def2;
    text-shadow: 
        0 0 20px white;
}

@media (max-width: 768px){
    .title-business{
        padding-top: 80px;
    }
    .product-card{
        height: auto;
        margin-bottom: 50px;
        padding: 10px;
    }
    .col-card{
        position: relative;
        display: block;
        width: auto;
        margin-bottom: 20px;
    }
    .product{
        height: auto;
    }
    .title-business{
        font-size: 100px;
    }
    .title-product{
        font-size:;
    }
    .col-logo{
        text-align: center;
        padding-bottom: 50px;
    }
}

footer{
    color: black;
    padding-bottom: 50px;
    background-image: linear-gradient(#a5def2, #414c6b);
    padding-top: 50px;
    margin-top: 100px;
    position: absolute;
    width: 100%;
    bottom: auto;
}

.foot-fill{
    display: flex;
}

.col-logo img{
    width: 300px;
    border-radius: 50%;
}

.col-contact, .col-sosmed{
    padding-left: 120px;
}

.foot-title{
    padding-bottom: 30px;
}

.foot-icon{
    font-size: 25px;
}

.foot-contact a{
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.foot-icon-sosmed a{
    font-size: 70px;
    color: white;
}

.foot-fill{
    padding-bottom: 30px;
}

.title-product{
    font-size: 100px;
    color: white;
    align-items: center;
    padding-bottom: 50px;
    font-family: Lexend;
}

.card-buy{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.card-img-top:hover{
    transform: scale(0.7);
    transition: all .5s;
}
